@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400&display=swap');
.restaurant-menu {
    position: absolute;
    z-index: -9;
    left: 0;
    right: 0;
    top: 7em;
    display: flex;
    flex-direction: column;
    gap:  1em;
    height: 50em;
    min-height: 0;
    justify-content: center;
}

.restaurant-scroll {
    padding-top: 2em;
    padding-bottom: 2em;
    overflow: auto;
    flex-grow: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    -webkit-mask-image: linear-gradient(180deg, transparent 1%, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 1) 95%, transparent 99%);
}

.gen-menu-item {
    width: 16em;
    border-radius: 10px;
    background: -webkit-linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
    padding: 10px;
    box-shadow: 0 5px 10px #3bb78f;
}



.gen-menu-item span {
    font-family: 'Nunito Sans', sans-serif;
    color: white;
}


.item-nutrition {
    display: none;
    opacity: 0;
}